[Unit]
Description=UKIP
Requires=systemd-udevd.service
After=systemd-udevd.service
After=local-fs.target
After=systemd-journald-audit.socke

[Service]
ExecStart=/usr/sbin/ukip

[Install]
WantedBy=multi-user.target
